<div class="container">
  <form class="add-task">
    <div class="form-group">
      <label for="title">Tytuł:</label>
      <input type="text" id="title" name="title" [(ngModel)]="newTask.title" class="form-control" [disabled]="isProcessing" />
    </div>
    <div class="form-group">
      <label for="deadline">Termin:</label>
      <input type="date" id="deadline" name="deadline" [(ngModel)]="newTask.deadline" class="form-control" [disabled]="isProcessing" />
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="addTask()" [disabled]="isProcessing">
      {{isProcessing ? 'Przetwarzanie...' : 'Dodaj zadanie' }}
      </button>
    </div>



  </form>

  <div class="tasks">
    <div class="task" [class.completed]="task.completed" *ngFor="let task of tasks">
      <div class="title">{{task.title}}</div>
      <div class="deadline">
        <span *ngIf="task.deadline">{{task.deadline}}</span>
      </div>
      <div class="actions">
        <input type="checkbox" [(ngModel)]="task.completed" (change)="handleChange(task)" />
      </div>
    </div>



  </div>
  <form class="add-task">
  <div class="form-group">
    <button type="button" class="btn btn-primary" (click)="archiveCompleted()">
      Przenieś ukończone do archiwum
    </button>
  </div>
  </form>

</div>
