<header>
  <h1>Przykład autoryzacji za pomocą JWT</h1>
  <nav>
  <a routerLink="/" routerLinkActive="active">Start</a>
  <a routerLink="/users" routerLinkActive="active" *ngIf="canAccessUsers()">Użytkownicy</a>
  <a routerLink="/items" routerLinkActive="active" *ngIf="canAccessItems()">Przedmioty</a>
  </nav>
</header>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

<footer *ngIf="getUsername()">
  <div>
    {{getUsername()}}
  </div>
  <a class="logout" href (click)="logout()">
    Wyloguj
  </a>
</footer>
<footer *ngIf="!getUsername()">Nie jesteś zalogowany!</footer>
