header{
  background-color: darkblue;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1em;
}
header nav{
  gap: 1em;
}
a{ color: white; text-decoration: none;}
a:hover{color:red;}

footer{
  background-color: lightgreen;
}
