.addButton{
  margin: 20px;
}

.delete {
  outline: none;
  border: 1px solid red;
  color: red;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  min-width: 30px;
}
.delete:hover{
  background-color: #efefef;

}
.delete:active{
  background-color: grey;
  color: white;
}
a{
  text-decoration: none;
}
