.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
}

.tasks .task {
  background-color: #cad7fc;
  border: 1px dotted black;
  margin-bottom: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'deadline actions' 'title title';
}

@media screen and (min-width: 768px) {
  .tasks .task {
    grid-template-columns: 3fr 1fr auto;
    grid-template-areas: 'title deadline actions';
  }
}
.tasks .task .deadline span {
  padding: 5px;
  background-color: green;
  border-radius: 8px;
  color:white;
  font-size: 0.8em;
}

.tasks .task .actions {
  grid-area: actions;
  text-align: right;
}
.btn{
  color: white;
  background-color: red;
  font-weight: bold;
}
.btn:hover{
  opacity: 0.5;
}
