<div>
  <a [routerLink]="['/list']"> Powrót </a>
</div>
<form>
  <div class="form-row">
    <label for="firstName">Imię:</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="person.firstName">

  </div>

  <div class="form-row, even">
    <label for="lastName">Nazwisko:</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="person.lastName">

  </div>

  <div class="form-row">
    <label for="age">Wiek:</label>
    <input type="text" id="age" name="age" [(ngModel)]="person.age">

  </div>

  <div class="form-row, even">
    <label for="city">Miasto:</label>
    <input type="text" id="city" name="city" [(ngModel)]="person.address.city">

  </div>

  <div class="form-row">
    <label for="street">Ulica:</label>
    <input type="text" id="street" name="street" [(ngModel)]="person.address.street">

  </div>

  <div class="form-row, even">
    <label for="postCode">Kod pocztowy:</label>
    <input type="text" id="postCode" name="postCode" [(ngModel)]="person.address.postCode">

  </div>

  <button type="button" (click)="save()">Zapisz kontakt</button>
</form>
